---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'

---

<Layout>
    <Header/>
    <Nav/> 

        
    <div id="comestibles">
        <section class="carnes">
            <h3>Carnes</h3>
            <ul>
                <li>
                    <h4>Pollo con crema</h4>
                    <img src="https://media.airedesantafe.com.ar/p/36e95abc61a140fc69dfdc44893ee3fa/adjuntos/268/imagenes/003/792/0003792396/1200x0/smart/imagepng.png" alt="Cerveza Artesanal">
                    <p>Pollo con papas al horno y verdeo</p>
                    <p>Precio: <span class="precio">$15.000</span></p>
                </li>
                <li>
                    <h4>Carne al horno</h4>
                    <img src="https://cafison.com/wp-content/uploads/2020/04/Entran%CC%83a.jpg" alt="Porron de cerveza">
                    <p>Entraña con verduras al horno</p>
                    <p>Precio: <span class="precio">$20.000</span></p>                </li>
            
                <li>
                    <h4>Pasta fresca con salsa a eleccion</h4>
                    <img src="https://i.blogs.es/c9d366/pasta_fresca/840_560.jpg" alt="Tragos">
                    <p>Sorrentinos, agnolottis, penne rigate, spaghetti</p>
                    <p>Precio: <span class="precio">$18.000</span></p>
                </li>
                <li>
                    <h4>Pizza</h4>
                    <img src="https://img-global.cpcdn.com/recipes/2a0a7551e73cafdd/680x482cq70/pizza-con-burrata-foto-principal.jpg" alt="Trago de litro">
                    <p>Con burrata, rucula y jamon crudo</p>
                    <p>Precio: <span class="precio">$17.000</span></p>
                </li>
                <li>
                    <h4>Milanesa de lomo</h4>
                    <img src="https://comedera.com/wp-content/uploads/sites/9/2024/06/lomo-de-cerdo-a-la-milanesa.jpg" alt="Trago de litro">
                    <p>con papas a eleccion</p>
                    <p>Precio: <span class="precio">$18.000</span></p>
                </li>
            </ul>
        </section>
        <section class="carnes">
            <h3>Sin alcohol</h3>
            <ul>
                <li>
                    <h4>Agua c/s gas</h4>
                    <img src="https://jumboargentina.vtexassets.com/arquivos/ids/795828-800-600?v=638313501973800000&width=800&height=600&aspect=true" alt="Agua">
                    <p>Agua con, o sin gas. Villavicencio</p>
                    <p>Precio: <span class="precio">$3.000</span></p>
                </li>
                <li>
                    <h4>Limonada</h4>
                    <img src="https://7diasdesabor.com/wp-content/uploads/2024/05/WEB-BEBIDA-4.png" alt="Limonadas">
                    <p>Limonada de frutos rojos, con o sin menta y jengibre</p>
                    <p>Precio: <span class="precio">$6.000</span></p>                </li>
                <li>
                    <h4>Gaseoas 300ml</h4>
                    <img src="https://diariondi.com/wp-content/uploads/2023/11/gasesoas.jpg" alt="Gaseosas linea coca cola">
                    <p>Coca cola, Fanta, Sprite</p>
                    <p>Precio: <span class="precio">$4.000</span></p>                </li>
                <li>
                    <h4>Café</h4>
                    <img src="https://cafefm.com.ar/sitio/wp-content/uploads/2019/08/cafe.png" alt="café">
                    <p>cortado, expresso, lágrima</p>
                    <p>Precio: <span class="precio">$5.000</span></p>                </li>
                <li>
                    <h4>Té</h4>
                    <img src="https://http2.mlstatic.com/D_NQ_NP_871173-MLA81589126086_012025-O.webp" alt="Té">
                    <p>Té en hebras</p>
                    <p>Precio: <span class="precio">$5.000</span></p>                </li>
            </ul>
        </section>
    </div>
    
    
    
    <Footer/>
</Layout>


<style>
    section{
        display: inline-block;
        width: 50%;
        min-width: 180px;
        color: white;
    }section ul{
        padding: 0;
        margin: 0 .5rem;
    }
    section li{
        list-style: none;
        box-sizing: border-box;
        margin: 1rem 0;
        box-shadow: 0px 0px 25px 1px rgba(255, 255, 255, 0.514);
        padding: 1rem;
        border-radius: 1rem;
    }
    section h4{
        text-decoration: underline;
        margin-top: 0;
    }
    section h3{
        text-decoration: underline;
    }

    li img{
        width: 90%;
        border-radius: .7rem;
    }

    #bebidas{
        display: flex;
        flex-wrap: wrap;
    }
    .precio {
                font-size: 20px; /* Tamaño de fuente grande */
                font-weight: lighter 10px; /* Negrita */
                color: #00ff73; /* Naranja llamativo */
                background-color: #3d3bcf85; /* Fondo amarillo */
                padding: 2px 5px; /* Espaciado interno */
                border-radius: 10px; /* Bordes redondeados */
                display: inline-block; /* Para que se vea bien */
    }
</style>