<div id="banner">
    <h2>Disfruta de la mejor comida en ZOAN</h2>
    <p>Los mejores en servicio y gastronomía hace 244.405millones de años!</p>
    <p>¡Reserva tu mesa ya!</p>



</div>

<style>
    #banner{
        background-color: var(--primary-color, #57148d94);
        color: white;
        text-align: center;
        padding: 1rem;
        margin: 1rem auto;
        border: 1px solid var(--border-color, #cccccc83);
        border-radius: .5rem;
        height: 750px;
        background-image: url(https://preview.redd.it/ryt36wwhmsuc1.jpeg?auto=webp&s=f6cea5834924a88dd92253072207bfa676884921);
        background-size: cover;
        background-repeat: no-repeat;
        
    }	