<h2 style="color: white;">Platos Principales:</h2>
<div id="cartilla">
    <section class="carnes">
        <h3>Pijas</h3>
        <ul>
            <li>
                <h4>Pollazo</h4>
                <img src="https://myplate-prod.azureedge.us/sites/default/files/styles/large/public/2021-09/OvenRoastedChicken_527x323.jpg?itok=cnlnt4vd" alt="Pollo">
                <p>Descripción del Pollo</p>
                <p>Precio: $10.00</p>
            </li>
            <li>
                <h4>Pollazo</h4>
                <img src="https://myplate-prod.azureedge.us/sites/default/files/styles/large/public/2021-09/OvenRoastedChicken_527x323.jpg?itok=cnlnt4vd" alt="Pollo">
                <p>Descripción de la Carne</p>
                <p>Precio: $12.00</p>
            </li>
            <li>
                <h4>Pollazo</h4>
                <img src="https://myplate-prod.azureedge.us/sites/default/files/styles/large/public/2021-09/OvenRoastedChicken_527x323.jpg?itok=cnlnt4vd" alt="Pollo">
                <p>Descripción de la Pija</p>
                <p>Precio: $15.00</p>
            </li>
            <li>
                <h4>Pollazo</h4>
                <img src="https://myplate-prod.azureedge.us/sites/default/files/styles/large/public/2021-09/OvenRoastedChicken_527x323.jpg?itok=cnlnt4vd" alt="Pollo">
                <p>Descripción del Pescado</p>
                <p>Precio: $14.00</p>
            </li>
            <li>
                <h4>Pollazo</h4>
                <img src="https://myplate-prod.azureedge.us/sites/default/files/styles/large/public/2021-09/OvenRoastedChicken_527x323.jpg?itok=cnlnt4vd" alt="Pollo">
                <p>Descripción del Ojo de bife</p>
                <p>Precio: $20.00</p>
            </li>
        </ul>
    </section>
    <section class="carnes">
        <h3>Carnes</h3>
        <ul>
            <li>
                <h4>Pollazo</h4>
                <img src="https://myplate-prod.azureedge.us/sites/default/files/styles/large/public/2021-09/OvenRoastedChicken_527x323.jpg?itok=cnlnt4vd" alt="Pollo">
                <p>Descripción del Pollo</p>
                <p>Precio: $10.00</p>
            </li>
            <li>
                <h4>Pollazo</h4>
                <img src="https://myplate-prod.azureedge.us/sites/default/files/styles/large/public/2021-09/OvenRoastedChicken_527x323.jpg?itok=cnlnt4vd" alt="Pollo">
                <p>Descripción de la Carne</p>
                <p>Precio: $12.00</p>
            </li>
            <li>
                <h4>Pollazo</h4>
                <img src="https://myplate-prod.azureedge.us/sites/default/files/styles/large/public/2021-09/OvenRoastedChicken_527x323.jpg?itok=cnlnt4vd" alt="Pollo">
                <p>Descripción de la Pija</p>
                <p>Precio: $15.00</p>
            </li>
            <li>
                <h4>Pollazo</h4>
                <img src="https://myplate-prod.azureedge.us/sites/default/files/styles/large/public/2021-09/OvenRoastedChicken_527x323.jpg?itok=cnlnt4vd" alt="Pollo">
                <p>Descripción del Pescado</p>
                <p>Precio: $14.00</p>
            </li>
            <li>
                <h4>Pollazo</h4>
                <img src="https://myplate-prod.azureedge.us/sites/default/files/styles/large/public/2021-09/OvenRoastedChicken_527x323.jpg?itok=cnlnt4vd" alt="Pollo">
                <p>Descripción del Ojo de bife</p>
                <p>Precio: $20.00</p>
            </li>
        </ul>
    </section>
</div>

<style>
    section{
        display: inline-block;
        width: 50%;
        min-width: 180px;
        color: white;
    }section ul{
        padding: 0;
        margin: 0 .5rem;
    }
    section li{
        list-style: none;
        box-sizing: border-box;
        margin: 1rem 0;
        box-shadow: 0px 0px 25px 1px rgba(255, 255, 255, 0.514);
        padding: 1rem;
        border-radius: 1rem;
    }
    section h4{
        text-decoration: underline;
        margin-top: 0;
    }
    section h3{
        text-decoration: underline;
    }

    li img{
        width: 90%;
        border-radius: .7rem;
    }

    #cartilla{
        display: flex;
        flex-wrap: wrap;
    }
</style>