<div id="cartilla">
    <section class="carnes">
        <h3>Comidas</h3>
        <ul>
            <li>Pollo</li>
            <li>Carne</li>
            <li>Pija</li>
            <li>Pescado</li>
            <li>Ojo de bife</li>
        </ul>
    </section>
    <section class="verduras">
        <h3>Verduras</h3>
        <ul>
            <li>Pollo</li>
            <li>Carne</li>
            <li>Pija</li>
            <li>Pescado</li>
            <li>Ojo de bife</li>
        </ul>
    </section>
    <section class="bebidas">
        <h3>Bebidas</h3>
        <ul>
            <li>Pollo</li>
            <li>Carne</li>
            <li>Pija</li>
            <li>Pescado</li>
            <li>Ojo de bife</li>
        </ul>
    </section>
</div>

<style>
    section{
        display: inline-block;
        width: 200px;
        color: white;
    }section h3{
        text-decoration: underline;
    }

    #cartilla{
        display: flex;
        flex-wrap: wrap;
    }
</style>