<div id="cartilla">
    <section class="carnes">
        <h3>Comidas</h3>
        <ul>
            <li>
                <p>pollazo</p>
                <img src="https://myplate-prod.azureedge.us/sites/default/files/styles/large/public/2021-09/OvenRoastedChicken_527x323.jpg?itok=cnlnt4vd" alt="Pollo">
                <p>Descripción del Pollo</p>
            </li>
            <li>
                <p>carnita</p>
                <img src="path/to/image2.jpg" alt="Carne">
                <p>Descripción de la Carne</p>
            </li>
            <li>
                <p>pijota</p>
                <img src="path/to/image3.jpg" alt="Pija">
                <p>Descripción de la Pija</p>
            </li>
            <li>
                <p>pesceta</p>
                <img src="path/to/image4.jpg" alt="Pescado">
                <p>Descripción del Pescado</p>
            </li>
            <li>
                <p>ojito</p>
                <img src="path/to/image5.jpg" alt="Ojo de bife">
                <p>Descripción del Ojo de bife</p>
            </li>
        </ul>
    </section>
    <section class="verduras">
        <h3>Verduras</h3>
        <ul>
            <li>
                <p>pollazo</p>
                <img src="path/to/image1.jpg" alt="Pollo">
                <p>Descripción del Pollo</p>
            </li>
            <li>
                <p>carnita</p>
                <img src="path/to/image2.jpg" alt="Carne">
                <p>Descripción de la Carne</p>
            </li>
            <li>
                <p>pijota</p>
                <img src="path/to/image3.jpg" alt="Pija">
                <p>Descripción de la Pija</p>
            </li>
            <li>
                <p>pesceta</p>
                <img src="path/to/image4.jpg" alt="Pescado">
                <p>Descripción del Pescado</p>
            </li>
            <li>
                <p>ojito</p>
                <img src="path/to/image5.jpg" alt="Ojo de bife">
                <p>Descripción del Ojo de bife</p>
            </li>
        </ul>
    </section>
    <section class="bebidas">
        <h3>Bebidas</h3>
        <ul>
            <li>
                <p>pollazo</p>
                <img src="path/to/image1.jpg" alt="Pollo">
                <p>Descripción del Pollo</p>
            </li>
            <li>
                <p>carnita</p>
                <img src="path/to/image2.jpg" alt="Carne">
                <p>Descripción de la Carne</p>
            </li>
            <li>
                <p>pijota</p>
                <img src="path/to/image3.jpg" alt="Pija">
                <p>Descripción de la Pija</p>
            </li>
            <li>
                <p>pesceta</p>
                <img src="path/to/image4.jpg" alt="Pescado">
                <p>Descripción del Pescado</p>
            </li>
            <li>
                <p>ojito</p>
                <img src="path/to/image5.jpg" alt="Ojo de bife">
                <p>Descripción del Ojo de bife</p>
            </li>
        </ul>
    </section>
</div>

<style>
    section{
        display: inline-block;
        width: 200px;
        color: white;
    }section h3{
        text-decoration: underline;
    }

    li img{
        width: 10rem;
    }

    #cartilla{
        display: flex;
        flex-wrap: wrap;
    }
</style>