---
// Footer.astro
---
<footer style="background-color: var(--primary-color, #2b0e42); 
               color: white; 
               text-align: center; 
               padding: 1rem; 
               margin: 1rem 0; 
               border: 1px solid var(--border-color, #ccc);
               border-radius: 15px / 15px;
               box-shadow: 0px 0px 25px 1px rgba(255, 255, 255, 0.486);">
    
    <section class="footer">
        <p>&copy; 2025 Zoan Gen. Todos los derechos reservados</p>
        <p>Contacto: Zoan.development@zoan.com</p>
        <p>Quiénes somos: Somos Zoan, una empresa dedicada a proporcionar soluciones innovadoras.</p>
    </section>

</footer>



