<header>
    <h1>Bienvenido a ZOAN</h1>
    <h2>Seleccione entre nuestras deliciosas comidas y refrescantes bebidas</h2>
    <p>Explore nuestro menú y descubra una variedad de opciones que satisfarán todos sus antojos.</p>
</header>

<style>
    header{
        color: white;
        text-align: center;
    }

</style>