<div>
    <a href="">Carnes</a>
    <a href="">Verduras</a>
    <a href="">Bebidas</a>
</div>

<style>
    div{
        display: flex;
        justify-content: space-around;
        border: white solid 2px;
        padding: .5rem;
        flex-wrap: wrap;
    }div a{
        width: 4rem;
        color: white;
    }

</style>