<div>
    <a href="/">Home</a>
    <a href="CardComidas">Comestibles</a>
    <a href="CardPostres">Postres</a>
    <a href="/CardDrinks">Bebidas</a>
</div>

<style>
    div{
        background-color: #4e342ea9;
        display: flex;
        justify-content: space-around;
        border-radius: .8rem;
        box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.486);
        padding: .8rem 0;
        flex-wrap: wrap;
        margin: 2.5rem 0;
    }div a{
        color: white;
        text-decoration: none;
        font-weight: bold;
        background-color: #4E342E;
        /*background-color: rgb(106, 62, 131);*/
        padding: .3rem .8rem;
        box-shadow: 0px 0px 10px 1px rgba(239, 190, 190, 0.192);
        border-radius: 1rem
    }

</style>